# General
.DS_Store
*.log
*.env
.env.*

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.dist-info/
*.requirements.zip
*.whl
requirements.txt.lock
.task/

# Node.js
node_modules/
build/
dist/
coverage/

# Docker
*.dockerignore

# VSCode
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store

# Temporary files
*.tmp
*.swp
*.swo

# AWS
.aws-sam/
samconfig.toml